@tailwind base;
@tailwind components;
.border-right-div{
    @apply border-t-32 border-gray-100;
    border-right:98vw;
    border-right-color:transparent;
    border-right-style:solid;
}
.border-left-div{
    @apply border-b-32 border-gray-100;
    border-left:98vw;
    border-left-color:transparent;
    border-left-style:solid;
}
.active{
    position:relative;
    color:rgb(39, 36, 36) !important;

}
.active:after{
    content:"";
    position:absolute;
    bottom:6px;
    left:6px;
    border-top:5px solid rgb(49, 130, 206);
    border-right: 40px solid rgb(49, 130, 206);
    border-radius: 40px;


}

@keyframes animateMobile {
    0% {
        bottom:0px;
    }
    25%{
        bottom:10px;
    }

    50%{bottom:0px;}
    75%{
        bottom:-10px;
    }
    100%{bottom:0px;}
}

@keyframes animateWeb {
    0% {
        top:0px;
    }
    25%{
        top:10px;
    }

    50%{top:0px;}
    75%{
        top:-10px;
    }
    100%{top:0px;}
}

#logo{
    animation:scale 1.5s infinite ease forwards 2s;
}
#logo path:nth-child(1){
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-anim 0.5 ease forwards,fill-black 0.5s ease forwards 1s;
   
    
    
}

#logo path:nth-child(2){
    stroke-dasharray: 336;
    stroke-dashoffset: 336;
    animation: line-anim 0.5s ease forwards 0.5s , fill-brown 0.5s ease forwards 1.5s;
 

   
}

@keyframes scale {
    0% {
        transform:scale(1.5);
    }
  

    50%{transform:scale(1.7);}

    100%{transform:scale(1.5);}
}


@keyframes line-anim{
    to{ stroke-dashoffset: 0;}
}

@keyframes fill-brown{
    from
    {
        fill:transparent;
    }
    to{
        fill:#97786F;
    }
}
@keyframes fill-black{
    from{
        fill:transparent;
    }
    to{
        fill:#42474F;
    }
}

@tailwind utilities;