@tailwind base;
@tailwind components;
.border-right-div{
    @apply border-t-32 border-primary;
    border-right:98vw;
    border-right-color:transparent;
    border-right-style:solid;
}

.border-left-div{
    @apply border-b-32 border-primary;
    border-left:98vw;
    border-left-color:transparent;
    border-left-style:solid;
}
.active{
    @apply text-textPrimary;
    position:relative;
   

}
.active:after{
    content:"";
    position:absolute;
    bottom:6px;
    left:6px;
    border-top:2px solid rgb(49, 130, 206);
    border-bottom:2px solid rgb(49, 130, 206);
    border-left:20px solid rgb(49, 130, 206);
    border-right: 20px solid rgb(49, 130, 206);
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border-bottom-left-radius: 999px;
    


}

@keyframes animateMobile {
    0% {
        bottom:0px;
    }
    25%{
        bottom:10px;
    }

    50%{bottom:0px;}
    75%{
        bottom:-10px;
    }
    100%{bottom:0px;}
}

@keyframes animateWeb {
    0% {
        top:0px;
    }
    25%{
        top:10px;
    }

    50%{top:0px;}
    75%{
        top:-10px;
    }
    100%{top:0px;}
}


@tailwind utilities;
